/* Stiluri generale pentru pagină */
body {
    display: inline-block;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    height: 100vh;
    margin: 0;
    
}

h1 {
    text-align: center;
    color: #333;
}

/* Containerul formularului */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Input-uri */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #5b9bd5;
    outline: none;
}

/* Buton de autentificare */
button {
    width: 100%;
    padding: 10px;
    background-color: #5b9bd5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3e7d99;
}

/* Mesaj de eroare */
p {
    text-align: center;
    color: red;
    font-weight: bold;
}
